*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/pic8a.png);
    background-size: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 70px;
    height: 70px;
}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1 {
    font-size: 62px;
}
.text-box p {
    margin: 10px 0px 40px;
    font-size: 22px;
    color: #fff;
}

nav .fa{
    display: none;
}
.row{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    margin-top: 400px;
    
}
.containers{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background: rgba(189, 195, 199,0.5);
    padding-bottom: 2vh;
    transition: 0.4s;
    cursor: pointer;
}
.containers:hover{
    box-shadow:0 0 20px 0px rgba(255, 255, 255, 0.9);
} 

.containers h2{
    color: #fff;
    margin: 2%;
}
.containers img{
    width: 100%;
    height:300px;
}
.container-text{
    margin: 3%;
    font-size: 18px;
    color: #fff;
}

@media (max-width: 700px){
    .text-box{
        margin-top: 0px;
    }
    .nav-links ul li a{
        font-size: 15px;
    }
    .header {
        max-width: 100%;
    }
    .text-box h1 {
        font-size: 30px;
    }
    .text-box p {
        font-size: 8px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -201px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .row{  
        flex-direction: column;
        margin-top: 200px;
    }
    .container-text{
        font-size: 12px;
    }
    .row2{
        flex-direction: column;
    }
    .container input{
        font-size: 10px;
    }
    .content h2{
        font-size: 20px;
    
    }
    .content p{
        font-size: 10px;
    }
    .content h3{
        font-size: 17px;
    }
    .signup .container p{
        font-size: 10px;
    }
    .signup .container input  {
        padding: 9px;
        font-size: 9px;
        border-radius: 3px;
    }
    .signup .container label{
        font-size: 10px;
    }
    .signup .container .btn{
        padding: 10px 24px;
        font-size: 15px;
    }
    .signup .container .checkbox{
        height: 9px;
    }
    .footer p{
        font-size: 10px;
    }
    .footer h3{
        font-size: 17px;
    }
}
.content{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}
.content h1{
    font-size: 36px;
    font-weight: 600;
}
.content p{
    color: #777;
    font: 9px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row2{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.content-col{
    flex-basis: 31%;
    background:#f9e2e2;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.content-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.content-col:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.4);
}
.signup{
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 80px;
}
.signup .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#eceef1;
    border:5px solid #f9e2e2;
    padding:6vh;
}

.signup-items{
    padding: 1%;
}

.container input{
    width: 100%;
    padding: 15px;
    font-size: 17px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.hover:focus{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
}
.btn{
    margin-top: 3vh;
    display: inline-block;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 12px 34px;
    font-size: 19px;
    background: transparent;
    position: relative;
    cursor: pointer;
    
}
.btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.5s;
}
.checkbox{
    height: 19px;
}
.footer {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    padding: 30px 0;
    background-color: #f9e2e2;
}
.footer h2{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer .fa{
    color: #f44336;
    margin: 0 23px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 29px;
}
.footer h3{
    margin-top: 3vh;
}
html{
    scroll-behavior: smooth;
}
